In [1]:
import pickle
import random
import pandas as pd
import numpy as np
import timeit
import time

# temp_list = list()
# a = list(np.random.randint(2, size=profile_size-1))

# a.append(random.uniform(0,1))
# print len(a)
# user_mean = ratings.groupby('userid').mean()['rating']
# print len(user_mean)

In [48]:
#ratings = pd.read_csv("ml-20m/Training/train.csv",header=0)
split1 = pd.read_csv("ml-20m/Training/split_1.csv",header=None)
split2 = pd.read_csv("ml-20m/Training/split_2.csv",header=None)
split3 = pd.read_csv("ml-20m/Training/split_3.csv",header=None)

In [49]:
len(split1) + len(split2) + len(split3)

12080028

In [50]:
df = pd.concat([split1,split2,split3])
len(df)
df.columns = ['userId', 'movieId','rating']
df.to_csv('ml-20m/Training/train.csv')
ratings = pd.read_csv("ml-20m/Training/train.csv")

In [51]:
ratings.head()
#type(ratings['userId'])

   Unnamed: 0  userId  movieId  rating
0           0       1      588     3.5
1           1       1     5581     3.5
2           2       1     2055     4.0
3           3       1     2862     3.5
4           4       1     1219     3.5

In [6]:
shape = ratings.shape

In [7]:
ratings_length = shape[0]
print(ratings_length)

12080028

In [8]:
profile_size = 1757

In [9]:
user_mean = ratings.groupby('userId').mean()['rating']

In [10]:
len(user_mean)

138493

In [11]:
print(user_mean.head())
user_mean[4]

userId
1    3.714286
2    4.000000
3    4.159292
4    3.666667
5    4.225000
Name: rating, dtype: float64

3.6666666666666665

In [12]:
pickle_in = open("new_item_profiles.pickle", "rb")
movie_dict = pickle.load(pickle_in)

In [13]:
len(movie_dict)
print (movie_dict[1])

[0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.8300000000000001]

In [15]:
user_profile_dict = {}
user_weights_denom = {}
#start = time.clock()
start1 = time.asctime()

In [24]:
user_data = ratings[['userId','movieId']]

In [25]:
user_data.head()

         userId  movieId
0             1      588
1             1     5581
2             1     2055
3             1     2862
4             1     1219
35            2     3834
36            2     2706
37            2     1617
38            2     3838
39            2     3836
48            3     2204
49            3     2490
50            3     1175
51            3      889
52            3     2445
86            4       10
87            4      722
88            4       32
89            4      516
90            4      367
92            5       60
93            5     1172
94            5      233
95            5      139
96            5      512
106           6        7
107           6       17
108           6      708
109           6      491
110           6      731
...         ...      ...
8056915  137654      144
8057011  137660     2061
8058288  137697      374
8058639  137712     1346
8059139  137728     6261
8060108  137766     2287
8060128  137769     2322
8060310  137782        3
8060539  137794     2621
8060668  137799     1945
8061799  137835      324
8061826  137837     1341
8062155  137841      788
8063143  137872      750
8064387  137911      454
8064437  137916     1619
8064592  137921      371
8067635  138035     1233
8067973  138055     1379
8068874  138090     2964
8069487  138111      407
8071999  138183     2921
8073653  138221      903
8073703  138224     1877
8074463  138257     1928
8075408  138294      700
8076294  138322      164
8077263  138361      171
8078690  138412       25
8079541  138445       58

[692465 rows x 2 columns]

In [26]:
user_data = user_data.to_dict()

AttributeError: Cannot access callable attribute 'to_dict' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [64]:
f = open('ml-20m/Training/train.csv','r')
user_data = {}
g = f.readlines()[1:]
for l in g:
#     print l.strip().split()
    temp,user,item,rating = l.strip().split(',')
    if int(user) not in user_data:
        user_data[int(user)]= []
    user_data[int(user)].append((int(item),float(rating)))

In [66]:
print len(user_data),user_data[1]
# user_data = {k:(g['movieId'],g['rating']).tolist() for k,g in ratings.groupby('userId')}
# x = ratings.apply(lambda x : reducer(x,user_data))
#x.indices

138493 [(588, 3.5), (5581, 3.5), (2055, 4.0), (2862, 3.5), (1219, 3.5), (7053, 3.5), (3391, 4.0), (6934, 3.5), (1293, 4.0), (1533, 3.5), (2560, 3.5), (1170, 3.5), (6725, 3.5), (3067, 4.0), (1213, 4.0), (251, 4.0), (6144, 3.5), (2874, 4.0), (3388, 3.5), (7276, 3.5), (2060, 4.0), (2915, 3.5), (7770, 4.0), (6393, 3.5), (1305, 4.0), (9754, 4.0), (7840, 3.5), (32, 3.5), (334, 3.5), (4944, 4.0), (3179, 3.5), (2944, 3.0), (7313, 4.0), (4945, 3.0), (7278, 4.0), (291, 4.0), (4133, 3.5), (5051, 3.5), (2, 3.5), (4373, 4.0), (8279, 4.0), (4931, 4.0), (4477, 4.0), (2458, 4.0), (1687, 3.5), (3904, 3.5), (5995, 4.0), (1231, 4.0), (4626, 3.5), (4885, 3.5), (7136, 3.5), (7954, 4.5), (1319, 3.5), (50, 3.5), (3903, 4.0), (1018, 4.0), (5800, 3.5), (1276, 3.0), (2787, 4.0), (646, 3.0), (1190, 4.0), (1766, 3.5), (1174, 4.5), (6698, 3.5), (5444, 4.0), (6645, 4.0), (111, 3.5), (2607, 3.5), (1177, 3.0), (4212, 4.0), (4783, 3.5), (1884, 4.0), (8008, 3.5), (2017, 4.0), (908, 3.5), (2676, 3.0), (6235, 4.0), (2110, 4.0), (2951, 3.5), (2563, 3.5), (1232, 4.0), (221, 4.0), (1264, 3.5), (1938, 4.0), (294, 4.0), (2883, 4.0), (5854, 5.0), (1239, 4.0), (4659, 4.0), (1216, 3.0), (4801, 4.0), (6646, 3.5), (2719, 3.5), (1479, 3.0), (538, 4.0), (1192, 3.5), (2207, 4.0), (5901, 3.5), (1068, 3.5), (4012, 3.5), (2579, 3.5), (3797, 4.0), (1321, 3.5), (1189, 4.0), (1058, 4.0)]

In [67]:
c = 0
temp = {}
start = time.time()
for user in user_data:
    t = 0
    c+=1
    if c%1000==0:
        end = time.time()
        print c,(end-start)*1.0/c
    for l in user_data[user]:
        t+=1
        if user not in temp:
            temp[user] = (l[1] - user_mean[user])*np.array(movie_dict[l[0]])
        else:
            temp[user] += (l[1] - user_mean[user])*np.array(movie_dict[l[0]])
    temp[user] = temp[user]/t

1000 0.0113254189491
2000 0.0107636879683
3000 0.0108464492957
4000 0.0111003359556
5000 0.0111581309795
6000 0.0111944138209
7000 0.0111471834183
8000 0.0111078204811
9000 0.0111682501104
10000 0.0111601972818
11000 0.0111648544398
12000 0.0110892879168
13000 0.011083357921
14000 0.0110680353471
15000 0.0110335279306
16000 0.0110444193631
17000 0.0110200209337
18000 0.0109706610574
19000 0.011016236255
20000 0.0109621733427
21000 0.0109074275721
22000 0.0108791044084
23000 0.0108678465201
24000 0.0109123031199
25000 0.0109158362389
26000 0.0109095193056
27000 0.0109197314757
28000 0.0109549016442
29000 0.0109467460698
30000 0.0109474636316
31000 0.0109625626764
32000 0.0109540794939
33000 0.0109468409654
34000 0.010937700524
35000 0.0109845793111
36000 0.0109692931639
37000 0.0109431413509
38000 0.0109482837602
39000 0.0109383785358
40000 0.0109302644968
41000 0.0109159222638
42000 0.0109060422579
43000 0.0109219339504
44000 0.0109210310199
45000 0.010894403712
46000 0.0108941299553
47000 0.010880235809
48000 0.0108715428313
49000 0.0108579978164
50000 0.0108470505762
51000 0.0108480333908
52000 0.0108432175196
53000 0.010858076226
54000 0.0108345553522
55000 0.0108292558887
56000 0.0108277276243
57000 0.0108020662425
58000 0.0107914715841
59000 0.0107773231005
60000 0.0107704395135
61000 0.0107538948176
62000 0.0107544305132
63000 0.0107590806825
64000 0.0107728510462
65000 0.0107662024461
66000 0.0107567366217
67000 0.0107595895796
68000 0.010758887866
69000 0.0107632464188
70000 0.0107567458698
71000 0.0107512395483
72000 0.0107502181662
73000 0.0107454024243
74000 0.0107325073094
75000 0.0107406113593
76000 0.0107405076686
77000 0.010747987388
78000 0.0107497776777
79000 0.0107472401269
80000 0.0130260197729
81000 0.0130003464428
82000 0.0129796821577
83000 0.0129477780957
84000 0.0129151079513
85000 0.0128866193295
86000 0.0128591502544
87000 0.0128334361603
88000 0.0128063652488
89000 0.0127861118531
90000 0.0127613077429
91000 0.0127336935709
92000 0.0127136212924
93000 0.012690378366
94000 0.0126676415205
95000 0.0126430137559
96000 0.0126194038838
97000 0.0125957481959
98000 0.0125845261423
99000 0.0125573485355
100000 0.0125312382388
101000 0.0125106993666
102000 0.0124908540786
103000 0.0124691202803
104000 0.0124608746331
105000 0.0124303457033
106000 0.0124057356209
107000 0.0123855492423
108000 0.0123667638147
109000 0.0123496055691
110000 0.0123291216634
111000 0.0123091664057
112000 0.0123074248923
113000 0.0122931446628
114000 0.0122822517094
115000 0.012268196703
116000 0.0122497596535
117000 0.0122364057435
118000 0.0122202732442
119000 0.0122064151003
120000 0.0121959104915
121000 0.0121837280151
122000 0.0121684069262
123000 0.012160471829
124000 0.0121458683302
125000 0.012128990736
126000 0.0121165824996
127000 0.012098464504
128000 0.0120833360311
129000 0.0120830626118
130000 0.0120737742076
131000 0.0120746024947
132000 0.0120699944388
133000 0.012056548495
134000 0.0120398566563
135000 0.0120373531854
136000 0.0120211067936
137000 0.0120091139922
138000 0.0119992834347

In [18]:
import time
start = time.time()
for i in range(0,ratings_length):
    if i%10000==0 and i>0:
        end = time.time()
        print i,(end-start)*1.0/i
    #start.append(timeit.timeit())
    uid = ratings['userId'][i]
    #print(type(uid))
    #print(uid)
    if uid not in user_profile_dict.keys():
        user_profile_dict[uid] = (ratings['rating'][i] - user_mean[uid])*np.array(movie_dict[ratings['movieId'][i]]) 
        user_weights_denom[uid] = 1
    else:
        user_profile_dict[uid] = (ratings['rating'][i] - user_mean[uid])*np.array(movie_dict[ratings['movieId'][i]]) + user_profile_dict[uid]
        user_weights_denom[uid] += 1
    
#     user_profile_dict[uid] = list(temp_array)
    #end.append(timeit.timeit())

10000 0.00161716098785
20000 0.00157876625061
30000 0.00155220356782
40000 0.00146181949973
50000 0.00141055746078
60000 0.00137707358201
70000 0.00135469229903
80000 0.0013439509362
90000 0.00133173229959
100000 0.00132970439911
110000 0.00132276988246
120000 0.0013178393503
130000 0.00131435372279
140000 0.00131117733547
150000 0.00130949175994
160000 0.00130841662437
170000 0.00131495969436
180000 0.00132166712152
190000 0.00132930180023
200000 0.00132932829499

KeyboardInterrupt:

In [ ]:
for i in user_profile_dict.keys():
    user_profile_dict[i] = list(np.array(user_profile_dict[i]) / user_weights_denom[i])

In [ ]:
#end = time.clock()
end1 = time.asctime()
user_profile_dict
len(user_profile_dict)

In [21]:
#end-start

In [22]:
start1

'Tue Dec 12 12:08:05 2017'

In [23]:
end1

'Tue Dec 12 12:08:10 2017'

In [72]:
# for l in temp:
#     print temp[l]
import sys
print sys.getsizeof(temp)

6291736

In [25]:
start2 = time.asctime()

In [73]:
pickle_out3 = open("user_profiles.pickle", "wb")
pickle.dump(temp, pickle_out3)
pickle_out3.close()

In [27]:
end2 = time.asctime()

In [28]:
start2
end2

'Tue Dec 12 12:08:31 2017'

In [29]:
user_profile_dict[1][-1]

-0.049000000000000099